/*Styles that belong here include anything that affects the edges of elements
    -borders, margins, padding, radius, shadows and the like.
*/

/* No Space */
.margin0{
    margin: 0;
}
.pad0{
    padding: 0;
}
.topMargin0{
    margin-top: 0;
}
.topPad0{
    padding-top: 0;
}
.rightMargin0{
    margin-right: 0;
}
.rightPad0{
    padding-right: 0;
}
.bottomMargin0{
    margin-bottom: 0;
}
.bottomPad0{
    padding-bottom: 0;
}
.leftMargin0{
    margin-left: 0;
}
.leftPad0{
    padding-left: 0;
}

/* Quarter Rem */
.padQuarter{
    padding: .25rem;
}

/* Half Rem */
.marginHalf{
    margin: 0.5rem;
}
.padHalf{
    padding: 0.5rem;
}
.topMarginHalf{
    margin-top: 0.5rem;
}
.topPadHalf{
    padding-top: 0.5rem;
}
.rightMarginHalf{
    margin-right: 0.5rem;
}
.rightPadHalf{
    padding-right: 0.5rem;
}
.bottomMarginHalf{
    margin-bottom: 0.5rem;
}
.bottomPadHalf{
    padding-bottom: 0.5rem;
}
.leftMarginHalf{
    margin-left: 0.5rem;
}
.leftPadHalf{
    padding-left: 0.5rem;
}

/* 1 Rem */
.margin1{
    margin: 1rem;
}
.pad1{
    padding: 1rem;
}
.topMargin1{
    margin-top: 1rem;
}
.topPad1{
    padding-top: 1rem;
}
.rightMargin1{
    margin-right: 1rem;
}
.rightPad1{
    padding-right: 1rem;
}
.bottomMargin1{
    margin-bottom: 1rem;
}
.bottomPad1{
    padding-bottom: 1rem;
}
.leftMargin1{
    margin-left: 1rem;
}
.leftPad1{
    padding-left: 1rem;
}

/* 2 Rem */
.margin2{
    margin: 2rem;
}
.pad2{
    padding: 2rem;
}
.topMargin2{
    margin-top: 2rem;
}
.topPad2{
    padding-top: 2rem;
}
.rightMargin2{
    margin-right: 2rem;
}
.rightPad2{
    padding-right: 2rem;
}
.bottomMargin2{
    margin-bottom: 2rem;
}
.bottomPad2{
    padding-bottom: 2rem;
}
.leftMargin2{
    margin-left: 2rem;
}
.leftPad2{
    padding-left: 2rem;
}

/* 3 Rem */
.margin3{
    margin: 3rem;
}
.pad3{
    padding: 3rem;
}
.topMargin3{
    margin-top: 3rem;
}
.topPad3{
    padding-top: 3rem;
}
.rightMargin3{
    margin-right: 3rem;
}
.rightPad3{
    padding-right: 3rem;
}
.bottomMargin3{
    margin-bottom: 3rem;
}
.bottomPad3{
    padding-bottom: 3rem;
}
.leftMargin3{
    margin-left: 3rem;
}
.leftPad3{
    padding-left: 3rem;
}

/* Border Radius */

.border5{
    border-radius: 5px;
}
.border10{
    border-radius: 10px;
}
.border15{
    border-radius: 15px;
}
.border50{
    border-radius: 50%;
}

.topRight5{
    border-top-right-radius: 5px;
}
.topLeft5{
    border-top-left-radius: 5px;
}
.bottomRight5{
    border-bottom-right-radius: 5px;
}
.bottomLeft5{
    border-bottom-left-radius: 5px;
}

.topRight10{
    border-top-right-radius: 10px;
}
.topLeft10{
    border-top-left-radius: 10px;
}
.bottomRight10{
    border-bottom-right-radius: 10px;
}
.bottomLeft10{
    border-bottom-left-radius: 10px;
}

.topRight15{
    border-top-right-radius: 15px;
}
.topLeft15{
    border-top-left-radius: 15px;
}
.bottomRight15{
    border-bottom-right-radius: 15px;
}
.bottomLeft15{
    border-bottom-left-radius: 15px;
}