/*
    Color Pallette: 

    Dark Blue:          #1d2327
    Bright Blue:        #1c5d83
    Light Blue:         #bdd4de
    Off-White:          #efefef
    Orange:             #ea7200         Should be accents only
*/

/* 
    These Styles apply to Background colors, border colors, colors, and any other 
    color related styling tags
 */

 /* Dark Blue */
.bgDB{
    background-color: #1d2327;
}
.colorDB{
    color: #1d2327;
}
.borderDB{
    border: 1px solid #1d2327;
}

/* Bright Blue */
.bgBB{
    background-color: #1c5d83;
}
.colorBB{
    color: #1c5d83;
}
.borderBB{
    border: 1px solid #1c5d83;
}

/* Light Blue */
.bgLB{
    background-color: #bdd4de;
}
.colorLB{
    color: #bdd4de;
}
.borderLB{
    border: 1px solid #bdd4de;
}

/* Off White */
.bgOW{
    background-color: #efefef;
}
.colorOW{
    color: #efefef;
}
.borderOW{
    border: 1px solid #efefef;
}

/* Accent Orange */
.bgAO{
    background-color: #ea7200;
}
.colorAO{
    color: #ea7200;
}
.borderAO{
    border: 1px solid #ea7200;
}