/*
    Color Pallette: 

    Dark Blue:          #1d2327         (29, 35, 39)
    Bright Blue:        #1c5d83         (28, 93, 131)
    Light Blue:         #bdd4de         (189, 212, 222)
    Off-White:          #efefef         (239, 239, 239)
    Orange:             #ea7200         (234, 114, 0)       Should be accents only
*/

/* 
    These Styles apply to Background colors, border colors, colors, and any other 
    color related styling tags
 */

 /* Dark Blue */
.bgDB{
    background-color: #1d2327;
}
.colorDB{
    color: #1d2327;
}
.borderDB{
    border: 1px solid #1d2327;
}
.bgAlphaDB{
    background-color: rgba(29, 35, 39, 70%);
}
.bottomBorderDB{
    border-bottom-color: #1d2327;
}

/* Bright Blue */
.bgBB{
    background-color: #1c5d83;
}
.colorBB{
    color: #1c5d83;
}
.borderBB{
    border: 1px solid #1c5d83;
}
.bottomBorderBB{
    border-bottom-color: #1c5d83;
}

/* Light Blue */
.bgLB{
    background-color: #bdd4de;
}
.colorLB{
    color: #bdd4de;
}
.borderLB{
    border: 1px solid #bdd4de;
}
.bottomBorderLB{
    border-bottom-color: #bdd4de;
}

/* Off White */
.bgOW{
    background-color: #efefef;
}
.colorOW{
    color: #efefef;
}
.borderOW{
    border: 1px solid #efefef;
}
.bottomBorderOW{
    border-bottom: 1px solid;
    border-bottom-color: #efefef;
}

/* Accent Orange */
.bgAO{
    background-color: #ea7200;
}
.colorAO{
    color: #ea7200;
}
.borderAO{
    border: 1px solid #ea7200;
}

.bgTransparent{
    background-color: rgba(255, 255, 255, 0%);
}
.bottomBorderAO{
    border-bottom: 1px solid;
    border-bottom-color: #ea7200;
}