.widthundred{
    width: 100%;
}

.heighthundred{
    height: 100%;
}

.maxWidth2{
    max-width: 200px;
}
.maxWidth3{
    max-width: 300px;
}
.maxWidth4{
    max-width: 400px;
}
.maxWidth5{
    max-width: 500px;
}

.maxHeight2{
    max-height: 200px;
}
.maxHeight3{
    max-height: 300px;
}
.maxHeight4{
    max-height: 400px;
}
.maxHeight5{
    max-height: 500px;
}
.maxHeight7{
    max-height: 700px;
}

.scrollable{
    overflow-y: scroll;
}