/*
    Color Pallette: 

    Dark Blue:          #1d2327
    Bright Blue:        #1c5d83
    Light Blue:         #bdd4de
    Off-White:          #efefef
    Orange:             #ea7200
*/

html{
    width: 100%;
    height: 100%;
}

body{
    width: 100%;
    height: 100%;
    margin: 0rem;
    background-color: #efefef;
}

ul{
    padding: 0;
    list-style-type: none;
}

main{
    flex-shrink: 0;
    flex-grow: 1;
}
footer{
    flex-shrink: 0;
    padding: .5rem;
    font-size: 18px;
    background-image: linear-gradient(#efefef, #1c5d83, #1c5d83, #1c5d83, #1c5d83, #1c5d83, #1c5d83);
    color: #efefef;
}

input:focus{
    outline: none;
}

select:focus{
    outline: none;
}

.centerText{
    text-align: center;
}

@media screen and (min-width: 641px){

}

@media screen and (min-width: 768){

}

@media screen and (min-width: 1025){

}

@media screen and (min-width: 2441){

}